[Desktop Entry]
Encoding=UTF-8
Name=mintwelcome
Comment=Linux V Welcome Screen
Icon=start-here-symbolic
Exec=mintwelcome-launcher
Terminal=false
Type=Application
Categories=

